@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Shell.Navigation
@addTagHelper *, EPiServer.Shell.UI
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.RequiredClientResources("ShellCore")
    @Html.RequiredClientResources("Shell")
    @Html.RequiredClientResources("Cms")
    <title>Sitemaps</title>
</head>
<body>
    <platform-navigation />
    <div id="root">
        <div id="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>