@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sitemaps</title>
</head>
<body>
@Html.CreatePlatformNavigationMenu()
<div id="root" @Html.ApplyPlatformNavigation()>
    <div id="container">
        @RenderBody()
    </div>
</div>

@ClientResources.RenderResources("admin", new[] { ClientResourceType.Script })
@await RenderSectionAsync("AdditionalScripts", false)
</body>
</html>