@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Shell.Navigation
@addTagHelper *, EPiServer.CMS.Shell.UI
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.RequiredClientResources("ShellCore")
    @Html.RequiredClientResources("Shell")
    @Html.RequiredClientResources("Cms")
    <title>Sitemaps</title>
</head>
<body>
    <platform-navigation />
    <div id="root">
        <div id="container" style="width: 100vw; height: 100vh;">
            @RenderBody()
        </div>
    </div>
</body>
</html>