<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="">SEO Sitemaps</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 col-lg-10 px-md-4 gy-3">
            <div class="mb-3">List of sitemap configurations:</div>

            <div class="mb-3">
                <div>
                    <span class="fw-bold">Host:</span>
                    The host name to access the sitemap
                </div>
                <div>
                    <span class="fw-bold">Include alternate languages:</span>
                    If your site targets users in many languages and you can provide Google with rel="alternate" hreflang="x". These attributes help Google serve the correct language or regional URL to searchers.
                </div>
                <div>
                    <span class="fw-bold">Path to include:</span>
                    Sitemap will contain only pages from this virtual directory url. Separate multiple with ";".
                </div>
                <div>
                    <span class="fw-bold">Path to avoid:</span>
                    Sitemap will not contain pages from this virtual directory url (works only if "Directory to include" left blank). Separate multiple with ";".
                </div>
                <div>
                    <span class="fw-bold">Root page ID:</span>
                    Sitemap will contain entries for descendant pages of the specified page (-1 means root page).
                </div>
                <div>
                    <span class="fw-bold">Debug info:</span>
                    Check this to include data about each page entry as an xml comment
                </div>
                <div>
                    <span class="fw-bold">Format:</span>
                    Standard/Mobile/Commerce/Standard and commere
                </div>
            </div>

            @RenderBody()
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
@RenderSection("Scripts", required: false)
</body>
</html>