@using System.Reflection
@{
    var version = GetType().Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
    version = version == null ? string.Empty : $"v{version}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/_content/GetaOptimizelySitemaps/css/dashboard.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="">SEO Sitemaps <span class="version">@version</span></a>
    <div class="ml-auto mb-1 px-3">
        <span class="geta-logo-prefix">by</span> @{ await Html.RenderPartialAsync("Shared/_Logo"); }
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 col-lg-10 px-md-4 gy-3">
            @RenderBody()
        </main>
        <aside class="col-md-3 col-lg-2 px-md-4 gy-3">
            <div class="mb-3 fw-bold">List of sitemap configurations</div>
            <div class="mb-3">
                <div>
                    <span class="fw-bold">Host:</span>
                    The host name to access the sitemap
                </div>
                <div>
                    <span class="fw-bold">Include alternate languages:</span>
                    If your site targets users in many languages and you can provide Google with rel="alternate" hreflang="x". These attributes help Google serve the correct language or regional URL to searchers.
                </div>
                <div>
                    <span class="fw-bold">Paths to include:</span>
                    Sitemap will contain only pages from this virtual directory url. Separate multiple with ";".
                </div>
                <div>
                    <span class="fw-bold">Paths to avoid:</span>
                    Sitemap will not contain pages from this virtual directory url (works only if "Directory to include" left blank). Separate multiple with ";".
                </div>
                <div>
                    <span class="fw-bold">Root page ID:</span>
                    Sitemap will contain entries for descendant pages of the specified page (-1 means root page).
                </div>
                <div>
                    <span class="fw-bold">Debug info:</span>
                    Check this to include data about each page entry as an xml comment
                </div>
                <div>
                    <span class="fw-bold">Format:</span>
                    Standard/Mobile/Commerce/Standard and commere
                </div>
            </div>
            <div class="mb-3">
                <span class="fw-bold">NB!</span> To generate the actual sitemaps please run the scheduled task "Generate xml sitemaps".
            </div>
        </aside>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="/_content/GetaOptimizelySitemaps/js/dashboard.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
